@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}

* {
    margin:0;
    padding:0;
}

body{
    background-color: var(--lightgray);
    overflow-y: hidden;
}

.container{
    margin: 0 auto;
    margin-top: 9.37rem;
    margin-bottom: 9.37rem;
    border: 1.2rem;
    padding: 1rem 1rem 1rem;
    background-color: var(--white);
    border-radius: 1.25rem;
    width: max(20%,18.8rem);
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-color: var(--lightgray);
    box-shadow: -0.063rem 0.063rem 1.5rem -0.688rem rgba(0, 0, 0, 1);
}

.image-block{
    border-radius: 0.85rem;
}

.info-block{
    padding: 1.25rem;
}

.info-block h1{
    font-size: 1.4rem;
    color: var(--darkblue);
}

.info-block p{
    padding-top: 1rem;
    word-spacing: 1px;
    color: var(--grayishblue);

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 1440px) {
    .container {
      margin-top: 5rem;
    }
}
